.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.rou{
    border-radius: 7px
}
.huy{
    border-radius: 7px;
    background-color: palevioletred;
    color: white;
}
.abji a{
    text-decoration: none;
}
.ji a{
    text-decoration: none;
}
.form-check-label a{
    text-decoration: none;
}